body {
    font-family: "Vollkorn", serif;
    height: 100%;
}

.nav_brand_size {
    width: 150px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    margin-left: 3%;
    background-color: rgb(15, 173, 166);
}

.nav_bar_buttons {
    float: right;
    padding: 0px;
}

.right_nav {
    color: grey;
    background-color: white;
}

a:hover {
    text-decoration: none;
}

.main_container {
    overflow : hidden;
    min-width: 540px;
    width: auto;
    padding: 50px 50px 100px 50px;
    background-color: rgb(209, 209, 209);
    height: 100%;
}

.left_box {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 60px 30px 50px 30px;
    width: 60%;
    margin-right: 20px;
    float: left;
    background-color: white;
}

.right_box {
    position: relative;
    padding: 60px 30px 50px 30px;
    width: 37%;
    margin-left: 20px;
    float: right;
    background-color: white;
}

.left_title {
    color: rgb(15, 173, 166);
    font-size: 30px;
    font-weight: bold;
}

.right_title {
    color: rgb(15, 173, 166);
    font-size: 25px;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid: 250px / auto auto;
}

.right_img {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.line {
    background-color: rgb(15, 173, 166);
    height: 5px;
    width: 100%;
}

footer {
    background-color: grey;
    height: 40px;
    padding-top: 10px;
    text-align: center;
}

.main_box {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 60px 30px 50px 30px;
    width: 100%;
    margin-right: 20px;
    float: left;
    background-color: white;
}

.center_img {
    margin-left: 10%;
    margin-right: 10%;
    width: 60%;
}

.couple_img {
    margin-left: 10%;
    margin-right: 10%;
    width: 90%;
}

@media (max-width: 1500px) {
    .left_box {
        float: none;
        width: 96%;
        padding: 10px;
        margin: 2%;
    }

    .right_box {
        float: none;
        width: 96%;
        padding: 10px;
        margin: 2%;
    }

    .grid-container {
        display: grid;
        grid: 45% / auto auto;
    }
}

@media (max-width: 640px) {
    .nav_brand_size {
        display: none;
    }
    
    .grid-container {
        display: grid;
        grid: 90% / auto;
    }
}
